<settings>
	<!-- General -->
	<category label="30011">
		<setting id="kiosk" type="bool" label="30042" default="true" />
		<!-- <setting id="HD" type="bool" label="30043" default="true" /> -->
		<setting type="sep" />
		<setting id="perpage" type="enum" values="25|50|100|150|200|250" label="30039" default="2"/>
		<!-- <setting id="movieart" type="enum" lvalues="30020|30021|30022" label="30016" default="0"/> -->
		<setting id="tvart" type="enum" lvalues="30018|30019|30022" label="30017" default="0"/>
		<!--setting id="editenable" type ="bool" label="30033" default="false"/z-->
		<setting type="sep" />
		<setting id="viewenable" type ="bool" label="30035" default="true"/>
		<setting id="movieview" type="enum" lvalues="30023|30024|30025|30026|30027|30028" label="30029" default="5"/>
		<setting id="showview" type="enum" lvalues="30023|30024|30025|30026|30027|30034" label="30030" default="4"/>
		<setting id="seasonview" type="enum" lvalues="30023|30024|30025|30026|30027|30034" label="30031" default="4"/>
		<setting id="episodeview" type="enum" lvalues="30023|30024|30025|30026|30027|30034" label="30032" default="3"/>
		<setting type="sep" />
	</category>
</settings>
