<?xml version="1.0" ?>
<settings version="1">
	<section id="plugin.video.amazon-test">
		<category id="general" label="30011" help="">
			<group id="1">
				<setting id="playmethod" type="integer" label="30012" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<options>
							<option label="Browser">0</option>
							<option label="Script/Batch">1</option>
							<option label="Android">2</option>
							<option label="Input Stream">3</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
			</group>
			<group id="2">
				<setting id="browser" type="integer" label="30294" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="Internet Explorer">0</option>
							<option label="Chrome">1</option>
							<option label="Firefox">2</option>
							<option label="Safari">3</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="lt" setting="playmethod">2</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="cust_path" type="boolean" label="30043" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="playmethod">0</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="br_path" type="path" label="30062" help="" parent="cust_path">
					<level>0</level>
					<default/>
					<constraints>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="cust_path">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="playmethod">0</condition>
						</dependency>
					</dependencies>
					<control type="button" format="file">
						<heading>30062</heading>
					</control>
				</setting>
				<setting id="ownappdata" type="boolean" label="30059" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition operator="gt" setting="browser">0</condition>
								<condition operator="lt" setting="browser">3</condition>
							</and>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="playmethod">0</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="kiosk" type="boolean" label="30042" help="">
					<level>0</level>
					<default>true</default>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition operator="!is" setting="browser">2</condition>
								<condition operator="!is" setting="browser">3</condition>
							</and>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="playmethod">0</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="scr_path" type="path" label="30048" help="">
					<level>0</level>
					<default/>
					<constraints>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="playmethod">1</condition>
						</dependency>
					</dependencies>
					<control type="button" format="file">
						<heading>30048</heading>
					</control>
				</setting>
				<setting id="scr_param" type="string" label="30301" help="">
					<level>0</level>
					<default>{f} &quot;{u}&quot;</default>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="playmethod">1</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>Parameter ({u} - URL / {f} - Framerate)</heading>
					</control>
				</setting>
				<setting id="framerate" type="boolean" label="30049" help="">
					<level>0</level>
					<default>true</default>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="playmethod">1</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="3">
				<setting id="fullscreen" type="boolean" label="30041" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible">
							<condition operator="lt" setting="playmethod">2</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="clickwait" type="integer" label="30044" help="" parent="fullscreen">
					<level>0</level>
					<default>10</default>
					<constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>30</maximum>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="fullscreen">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="lt" setting="playmethod">2</condition>
						</dependency>
					</dependencies>
					<control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
				</setting>
				<setting id="pininput" type="boolean" label="30045" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible">
							<condition operator="lt" setting="playmethod">2</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="pin" type="integer" label="30046" help="" parent="pininput">
					<level>0</level>
					<default>0</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="pininput">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="lt" setting="playmethod">2</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="integer">
						<heading>30046</heading>
					</control>
				</setting>
				<setting id="waitprepin" type="integer" label="30057" help="" parent="pininput">
					<level>0</level>
					<default>10</default>
					<constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>30</maximum>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition operator="is" setting="pininput">true</condition>
								<condition operator="is" setting="fullscreen">false</condition>
							</and>
						</dependency>
						<dependency type="visible">
							<and>
								<condition operator="is" setting="fullscreen">false</condition>
								<condition operator="lt" setting="playmethod">2</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
				</setting>
				<setting id="waitpin" type="integer" label="30047" help="" parent="pininput">
					<level>0</level>
					<default>5</default>
					<constraints>
                        <minimum>1</minimum>
                        <step>1</step>
                        <maximum>30</maximum>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition operator="is" setting="pininput">true</condition>
								<condition operator="is" setting="fullscreen">true</condition>
							</and>
						</dependency>
						<dependency type="visible">
							<and>
								<condition operator="is" setting="fullscreen">true</condition>
								<condition operator="lt" setting="playmethod">2</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
				</setting>
				<setting id="pref_host" type="string" label="30019" help="">
					<level>0</level>
					<default>Auto</default>
					<constraints>
						<options>
							<option label="Auto">Auto</option>
							<option label="Akamai">Akamai</option>
							<option label="Cloudfront">Cloudfront</option>
							<option label="Level3">Level3</option>
							<option label="Limelight">Limelight</option>
							<option label="Fastly">Fastly</option>
							<option label="Cdn77">Cdn77</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="playmethod">3</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="is_settings" type="action" label="30013" help="">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.amazon-test/?mode=openSettings&url=is)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="playmethod">3</condition>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
				<setting id="age_settings" type="action" label="30018" help="">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.amazon-test/?mode=ageSettings)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="playmethod">3</condition>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
				<setting id="wvl1_device" type="boolean" label="30006" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<or>
								<condition on="property" name="InfoBool">System.Platform.Android</condition>
								<condition on="property" name="InfoBool">System.Platform.webOS</condition>
							</or>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="playmethod">3</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="enable_uhd" type="boolean" label="30295" help="" parent="wvl1_device">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<or>
								<condition on="property" name="InfoBool">System.Platform.Android</condition>
								<condition on="property" name="InfoBool">System.Platform.webOS</condition>
							</or>
						</dependency>
						<dependency type="visible">
							<and>
								<condition operator="is" setting="playmethod">3</condition>
								<condition operator="is" setting="wvl1_device">true</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="enable_hdr10" type="boolean" label="30296" help="" parent="wvl1_device">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<or>
								<condition on="property" name="InfoBool">System.Platform.Android</condition>
								<condition on="property" name="InfoBool">System.Platform.webOS</condition>
							</or>
						</dependency>
						<dependency type="visible">
							<and>
								<condition operator="is" setting="playmethod">3</condition>
								<condition operator="is" setting="wvl1_device">true</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="enable_dovi" type="boolean" label="30297" help="" parent="wvl1_device">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<or>
								<condition on="property" name="InfoBool">System.Platform.Android</condition>
								<condition on="property" name="InfoBool">System.Platform.webOS</condition>
							</or>
						</dependency>
						<dependency type="visible">
							<and>
								<condition operator="is" setting="playmethod">3</condition>
								<condition operator="is" setting="wvl1_device">true</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="enable_atmos" type="boolean" label="30298" help="" parent="wvl1_device">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="proxy_mpdalter">true</condition>
						</dependency>
						<dependency type="visible">
							<and>
								<condition operator="is" setting="playmethod">3</condition>
								<condition operator="is" setting="wvl1_device">true</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="use_h265" type="boolean" label="30020" help="" parent="wvl1_device">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible">
							<and>
								<condition operator="is" setting="playmethod">3</condition>
								<condition operator="is" setting="wvl1_device">true</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="proxy_mpdalter" type="boolean" label="30248" help="">
					<level>0</level>
					<default>true</default>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="playmethod">3</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="skip_scene" type="integer" label="30081" help="">
					<level>0</level>
					<default>1</default>
					<constraints>
						<options>
							<option label="30082">0</option>
							<option label="30083">1</option>
							<option label="30084">2</option>
							<option label="30085">3</option>
							<option label="30086">4</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="playmethod">3</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="send_vp" type="integer" label="30066" help="">
					<level>0</level>
					<default>4</default>
					<constraints>
						<minimum>0</minimum>
						<step>2</step>
						<maximum>90</maximum>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="playmethod">3</condition>
						</dependency>
					</dependencies>
					<control type="slider" format="percentage">
						<popup>false</popup>
					</control>
				</setting>
				<setting id="remotectrl" type="boolean" label="30074" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible">
							<condition operator="lt" setting="playmethod">2</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="remote_vol" type="boolean" label="30075" help="" parent="remotectrl">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="remotectrl">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="lt" setting="playmethod">2</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
		<category id="language" label="30021" help="">
			<group id="1">
				<setting id="proxy_mpdalter" type="boolean" label="30248" help="">
					<level>0</level>
					<default>true</default>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="2" label="30033">
				<setting id="audio_langs" type="action" label="30285" help="">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.amazon-test/?mode=langSettings&url=audio_langs)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="proxy_mpdalter">true</condition>
						</dependency>
					</dependencies>
					<control type="button" format="action"/>
				</setting>
				<setting id="audio_description" type="boolean" label="30005" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="3" label="30034">
				<setting id="sub_langs" type="action" label="30286" help="">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.amazon-test/?mode=langSettings&url=sub_langs)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="proxy_mpdalter">true</condition>
						</dependency>
					</dependencies>
					<control type="button" format="action"/>
				</setting>
				<setting id="sub_stretch" type="boolean" label="30028" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="sub_stretch_factor" type="integer" label="30027" help="" parent="sub_stretch">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="FILM/NTSC (24/23.976)">0</option>
							<option label="NTSC/FILM (23.976/24)">1</option>
							<option label="PAL/NTSC (25/23.976)">2</option>
							<option label="NTSC/PAL (23.976/25)">3</option>
							<option label="PAL/FILM (25/24)">4</option>
							<option label="FILM/PAL (24/25)">5</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="sub_stretch">true</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
			</group>
			<group id="4">
				<setting id="pv_language" type="action" label="30025" help="">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.amazon-test/pv/languageselect/)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
			</group>
		</category>
		<category id="connection" label="30038" help="">
			<group id="1">
				<setting id="ssl_verif" type="boolean" label="30037" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="2" label="30001">
				<setting id="region" type="integer" label="30302" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="Auto">0</option>
							<option label="Germany">1</option>
							<option label="United Kingdom">2</option>
							<option label="USA">3</option>
							<option label="Japan">4</option>
							<option label="ROE Europe">5</option>
							<option label="ROW Europe">6</option>
							<option label="ROW Far East">7</option>
							<option label="ROW North America">8</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="profiles" type="boolean" label="30024" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="show_pass" type="boolean" label="30026" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="multiuser" type="boolean" label="30009" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="rememberme" type="boolean" label="30022" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="login_mu" type="action" label="30130" help="">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.amazon-test/?mode=LogIn)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="multiuser">true</condition>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
				<setting id="remove_user" type="action" label="30131" help="">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.amazon-test/?mode=removeUser)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="multiuser">true</condition>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
				<setting id="login_su" type="action" label="30008" help="">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.amazon-test/?mode=LogIn)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="multiuser">false</condition>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
				<setting id="login_acc" type="string" label="30014" help="" parent="">
					<level>0</level>
					<default/>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="multiuser">false</condition>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>30014</heading>
					</control>
				</setting>
				<setting id="remove_cred" type="action" label="30007" help="">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.amazon-test/?mode=remLoginData)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="multiuser">false</condition>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
				<setting id="remove_all_cred" type="action" label="30010" help="">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.amazon-test/?mode=remLoginData)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="multiuser">true</condition>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
			</group>
		</category>
		<category id="datasource" label="30273" help="">
			<group id="1">
				<setting id="data_source" type="integer" label="30273" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="Website">0</option>
							<option label="Android">1</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="catalog_cache_expiry" type="integer" label="30257" help="">
					<level>0</level>
					<default>2</default>
					<constraints>
						<options>
							<option label="30258">0</option>
							<option label="30259">1</option>
							<option label="30260">2</option>
							<option label="30261">3</option>
							<option label="30262">4</option>
							<option label="30263">5</option>
							<option label="30264">6</option>
							<option label="30265">7</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="data_source">0</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="pv_clearcache" type="action" label="30087" help="">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.amazon-test/pv/clearcache/)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="data_source">0</condition>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
			</group>
			<group id="2" label="30243">
				<setting id="paginate_everything" type="boolean" label="30244" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="data_source">0</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="paginate_watchlist" type="boolean" label="30245" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="paginate_everything">false</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="data_source">0</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="paginate_collections" type="boolean" label="30246" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="paginate_everything">false</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="data_source">0</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="paginate_search" type="boolean" label="30247" help="">
					<level>0</level>
					<default>true</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="paginate_everything">false</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="data_source">0</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="reset_home" type="action" label="30095" help="">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.amazon-test/pv/sethome/)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="data_source">0</condition>
						</dependency>
					</dependencies>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
				<setting id="paycont" type="boolean" label="30073" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="data_source">1</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="paycol" type="string" label="30292" help="" parent="paycont">
					<level>0</level>
					<default>FFE95E01</default>
					<dependencies>
						<dependency type="visible">
							<and>
								<condition operator="is" setting="data_source">1</condition>
								<condition operator="is" setting="paycont">true</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>30292</heading>
					</control>
				</setting>
				<setting id="primecol" type="string" label="30293" help="" parent="paycont">
					<level>0</level>
					<default>FF00A8E0</default>
					<dependencies>
						<dependency type="visible">
							<and>
								<condition operator="is" setting="data_source">1</condition>
								<condition operator="is" setting="paycont">true</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>30293</heading>
					</control>
				</setting>
				<setting id="disptvshow" type="boolean" label="30071" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="data_source">1</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="preload_seasons" type="boolean" label="30096" help="">
					<level>0</level>
					<default>true</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="disptvshow">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="data_source">1</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="preload_all_seasons" type="boolean" label="30097" help="" parent="preload_seasons">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="preload_seasons">true</condition>
						</dependency>
						<dependency type="visible">
							<condition operator="is" setting="data_source">1</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="hide_trailers" type="boolean" label="30099" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="data_source">1</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="show_cats" type="boolean" label="30291" help="">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="data_source">1</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
			</group>
			<group id="3" label="30300">
				<setting id="pv_episode_thumbnails" type="boolean" label="30249" help="">
					<level>0</level>
					<default>true</default>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="data_source">0</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="tmdb_art" type="integer" label="30016" help="">
					<level>0</level>
					<default>1</default>
					<constraints>
						<options>
							<option label="30050">0</option>
							<option label="30051">1</option>
							<option label="30052">2</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="data_source">1</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="tvdb_art" type="integer" label="30017" help="">
					<level>0</level>
					<default>1</default>
					<constraints>
						<options>
							<option label="30050">0</option>
							<option label="30053">1</option>
							<option label="30054">2</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="data_source">1</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="useshowfanart" type="boolean" label="30055" help="">
					<level>0</level>
					<default>true</default>
					<dependencies>
						<dependency type="visible">
							<condition operator="is" setting="data_source">1</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
		<category id="views" label="30015" help="">
			<group id="1">
				<setting id="viewenable" type="boolean" label="30035" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="movieview" type="integer" label="30029" help="">
					<level>0</level>
					<default>5</default>
					<constraints>
						<options>
							<option label="List">0</option>
							<option label="Poster">1</option>
							<option label="IconWall">2</option>
							<option label="Shift">3</option>
							<option label="InfoWall">4</option>
							<option label="WideList">5</option>
							<option label="Wall">6</option>
							<option label="Banner">7</option>
							<option label="FanArt">8</option>
							<option label="Custom">9</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="viewenable">true</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="movieid" type="integer" label="30299" help="" parent="movieview">
					<level>0</level>
					<default>0</default>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition operator="is" setting="movieview">9</condition>
								<condition operator="is" setting="viewenable">true</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="edit" format="integer">
						<heading>View ID</heading>
					</control>
				</setting>
				<setting id="showview" type="integer" label="30030" help="">
					<level>0</level>
					<default>4</default>
					<constraints>
						<options>
							<option label="List">0</option>
							<option label="Poster">1</option>
							<option label="IconWall">2</option>
							<option label="Shift">3</option>
							<option label="InfoWall">4</option>
							<option label="WideList">5</option>
							<option label="Wall">6</option>
							<option label="Banner">7</option>
							<option label="FanArt">8</option>
							<option label="Custom">9</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="viewenable">true</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="showid" type="integer" label="30299" help="" parent="showview">
					<level>0</level>
					<default>0</default>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition operator="is" setting="showview">9</condition>
								<condition operator="is" setting="viewenable">true</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="edit" format="integer">
						<heading>View ID</heading>
					</control>
				</setting>
				<setting id="seasonview" type="integer" label="30031" help="">
					<level>0</level>
					<default>4</default>
					<constraints>
						<options>
							<option label="List">0</option>
							<option label="Poster">1</option>
							<option label="IconWall">2</option>
							<option label="Shift">3</option>
							<option label="InfoWall">4</option>
							<option label="WideList">5</option>
							<option label="Wall">6</option>
							<option label="Banner">7</option>
							<option label="FanArt">8</option>
							<option label="Custom">9</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="viewenable">true</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="seasonid" type="integer" label="30299" help="" parent="seasonview">
					<level>0</level>
					<default>0</default>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition operator="is" setting="seasonview">9</condition>
								<condition operator="is" setting="viewenable">true</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="edit" format="integer">
						<heading>View ID</heading>
					</control>
				</setting>
				<setting id="episodeview" type="integer" label="30032" help="">
					<level>0</level>
					<default>3</default>
					<constraints>
						<options>
							<option label="List">0</option>
							<option label="Poster">1</option>
							<option label="IconWall">2</option>
							<option label="Shift">3</option>
							<option label="InfoWall">4</option>
							<option label="WideList">5</option>
							<option label="Wall">6</option>
							<option label="Banner">7</option>
							<option label="FanArt">8</option>
							<option label="Custom">9</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="viewenable">true</condition>
						</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
				<setting id="episodeid" type="integer" label="30299" help="" parent="episodeview">
					<level>0</level>
					<default>0</default>
					<dependencies>
						<dependency type="enable">
							<and>
								<condition operator="is" setting="episodeview">9</condition>
								<condition operator="is" setting="viewenable">true</condition>
							</and>
						</dependency>
					</dependencies>
					<control type="edit" format="integer">
						<heading>View ID</heading>
					</control>
				</setting>
			</group>
		</category>
		<category id="export" label="30060" help="">
			<group id="1">
				<setting id="enablelibraryfolder" type="boolean" label="30061" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="customlibraryfolder" type="path" label="30062" help="" parent="enablelibraryfolder">
					<level>0</level>
					<default>special://profile/addon_data/plugin.video.amazon-test</default>
					<constraints>
						<sources>
							<source>auto</source>
						</sources>
					</constraints>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="enablelibraryfolder">true</condition>
						</dependency>
					</dependencies>
					<control type="button" format="path">
						<heading>30062</heading>
					</control>
				</setting>
				<setting id="cr_nfo" type="boolean" label="30063" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="mediasource_movie" type="string" label="30064" help="">
					<level>0</level>
					<default>Amazon Movies</default>
					<control type="edit" format="string">
						<heading>30064</heading>
					</control>
				</setting>
				<setting id="mediasource_tv" type="string" label="30065" help="">
					<level>0</level>
					<default>Amazon TV</default>
					<control type="edit" format="string">
						<heading>30065</heading>
					</control>
				</setting>
				<setting id="wl_export" type="boolean" label="30080" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="export_not_aired" type="boolean" label="30288" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
		<category id="miscellaneous" label="30070" help="">
			<group id="1" label="30070">
				<setting id="search_history" type="boolean" label="30098" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="wl_order" type="integer" label="30076" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30077">0</option>
							<option label="30079">1</option>
							<option label="30078">2</option>
						</options>
					</constraints>
					<control type="spinner" format="string"/>
				</setting>
			</group>
			<group id="2" label="30303">
				<setting id="logging" type="boolean" label="30072" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="json_dump" type="boolean" label="30196" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="json_dump_raw" type="boolean" label="30199" help="" parent="json_dump">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="json_dump">true</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="json_dump_collisions" type="boolean" label="30197" help="" parent="json_dump">
					<level>0</level>
					<default>false</default>
					<dependencies>
						<dependency type="enable">
							<condition operator="is" setting="json_dump">true</condition>
						</dependency>
					</dependencies>
					<control type="toggle"/>
				</setting>
				<setting id="log_http" type="boolean" label="30274" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="create_zip" type="action" label="30275" help="">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.amazon-test/?mode=createZIP)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action"/>
				</setting>
				<setting id="rm_logs" type="action" label="30276" help="">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.amazon-test/?mode=removeLogs)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action"/>
				</setting>
			</group>
		</category>
	</section>
</settings>
